<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="col-md-12">
          <div class="col-md-4 center-block">
            <center><a class="icon-block block-center" href="https://www.facebook.com/forcainovadora" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></center>
            <p>Comunidade com pessoas que pensam fora da caixa</p>
          </div>
          <div class="col-md-4 center-block">
            <center><a class="icon-block" href="https://twitter.com/forcainovadora" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></center>
            <p>Insights a qualquer hora para potencializar seu dia</p>
          </div>
          <div class="col-md-4 center-block">
            <center><a class="icon-block" href="https://www.instagram.com/forcainovadora/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></center>
            <p>Como eu vejo o mundo pelas lentes do meu celular</p>
          </div>
      </div>
      <!--  <div class="footer-col footer-col-12">
      <p>{{ site.description }}</p>
      </div>-->
    </div>

  </div>

</footer>
