<div class="modal-body bg-success col-md-12 col-xs-12">
			<form class="form-inline" action="//forcainovadora.us13.list-manage.com/subscribe/post?u=642caad04f860b9c091295e15&amp;id=0de4b4bfcd" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
			    <div class="col-md-6 col-xs-12 form-group"><span>Respeitamos sua privacidade. Você está<strong> 100% </strong>seguro!</span></div>
						<div class="col-md-3 col-xs-12"><input type="email" class="form-control" id="exampleInputEmail1" value="" name="EMAIL" placeholder="seu email..." required></div>
			    		<div class="col-md-3 col-xs-12"><input type="submit" value="Quero Receber!" name="subscribe" class="btn btn-success center-block"></div>
			</form>
</div>
