<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#banner_header{
		color: #a5bdc5;
		float: left;
		padding-top: 40px;
		font-size: 50px;
		text-shadow: #28353a 1px 1px 0;
		letter-spacing: -2px;
		line-height: 90%;}

	#banner_text{
		color: #fff;
		font-size: 24px;
		text-align: center;
		line-height: 120%;
		float: left;
		padding: 30px 0 70px;
		background: url(/img/seta_baixo.png) no-repeat center 20%;
	}

	#banner{
		padding-bottom: 5px;
		margin-bottom: 30px;
		border-bottom: 1px solid #fff;
		background: #3A464A url(/img/seta_baixo.png) 0 bottom repeat-x;
	}

	#banner_inferior{
		float: right;
		padding-bottom: 20px;
	}

	#banner_img{
		margin-top: 20px;
	}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="banner" class="col-md-12 col-xs-12">
	<div class="col-md-5 block-center"><h1 id="banner_header">MAIS QUE UM BLOG, UM ESTILO DE VIDA</h1></div>
	<div class="col-md-3 col-xs-12"><img class=" center-block" id="banner_img" src="img/mktmail.png"></div>
	<div class="col-md-4 col-xs-12"><p for="mce-EMAIL" id="banner_text">Coloque o seu email aqui para receber gratuitamente as atualizações do blog!</p></div>
		<div id="banner_inferior">
			<form class="form-inline" action="//forcainovadora.us13.list-manage.com/subscribe/post?u=642caad04f860b9c091295e15&amp;id=0de4b4bfcd" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
			    <div class="col-md-6 col-xs-12 form-group"><span style="color: #9cacb2;margin-right: 10px;">Respeitamos sua privacidade. Você está<strong> 100% </strong>seguro!</span></div>
						<div class="col-md-3 col-xs-12"><input type="email" class="form-control" id="exampleInputEmail1" value="" name="EMAIL" placeholder="seu email..." required></div>
			    		<div class="col-md-3 col-xs-12"><input style="font-weight: 700;" type="submit" value="Quero Receber!" name="subscribe" class="btn btn-success center-block"></div>

					</div>
			</form>
	</div>

<!--End mc_embed_signup-->
